ul.sections {
  margin-bottom: 2.5rem;
  display: block;
  height: 5rem;
}
ul.sections a, div.misc_area select {
  display: block;
  float: left;
  height: 5rem;
  width: auto;
  box-sizing: border-box;
  font-size: 2rem;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  line-height: calc(5rem - 4px);
  padding: 0 1.25rem;
  margin-right: 1.5rem;
  border: 2px solid #ECEEF1;
  border-radius: 0;
}
ul.sections a.active, div.misc_area select:focus {
  border-color: #222;
}

ul.articles {
  margin-bottom: 0;
}
div.misc_area div.select_box {
  height: 3.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
}
div.misc_area div.select_box p {
  text-align: left;
  float: left;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  margin: 0;
  height: 3.5rem;
}
div.misc_area div.select_box select {
  display: block;
  float: left;
  height: 3.5rem;
  font-size: 2rem;
  margin: 0;
  margin-top: 2px;
  margin-left: 1.5rem;
}
ul.articles a {
  display: block;
  clear: both;
  margin-bottom: 2.5rem;
  color: #222;
  text-decoration: none;
  padding: 2.5rem;
  width: 100%;
  border: 2px solid #ECEEF1;
  box-sizing: border-box;
  overflow: auto;
  outline: none;
  cursor: pointer;
}
ul.articles a:last-child {
  margin-bottom: 0;
}
@media (max-width: 775px) {
  ul.articles a, ul.sections, ul.articles div.select_box {
    margin-bottom: 1.5rem;
  }
}
ul.articles a div.content {
  width: 60%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-right: 2.5rem;
}
ul.articles a.no_image div.content {
  width: 100%;
  padding: 0;
}
ul.articles a img {
  width: 40%;
  height: auto;
  display: block;
  float: right;
}
@media (max-width: 775px) {
  ul.articles a div.content {
    width: 100%;
    clear: both;
    padding: 0;
  }
  ul.articles a img {
    padding-bottom: 2.5rem;
    width: 100%;
    float: left;
  }
}
ul.articles a:hover {
  border-color: #222;
}
ul.articles a h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -.05rem;
  margin-bottom: 1.75rem;
  line-height: 1.5;
}
ul.articles a p {
  margin-bottom: 0;
  text-align: left;
}
ul.articles a p.meta {
  margin-top: 1.5rem;
  color: #8d8e90;
}
ul.articles a p.meta strong {
  color: #767778;
}
