body, input, button {
  font-family: "Noto Sans KR", "Avenir";
}

@font-face {
    font-family: 'Mosk';
    src: url('../fonts/MoskUltra-Bold900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
nav, footer {
  width: 100%;
  height: 7.5rem;
  border-bottom: 1.5px solid #ECEEF1;
  box-sizing: border-box;
  padding: 1.5rem calc((100% - 750px) / 2);
}
