nav {
  position: relative;
}
nav input[type=text], nav input[type=text]:focus {
  height: 100%;
  font-size: 1.5rem;
  line-height: calc(4.5rem - 3.5px);
  border-radius: 0;
  text-decoration: none;
  color: #222;
  box-sizing: border-box;
  padding: 0 1.25rem;
  display: block;
  float: right;
  border: 2px solid rgb(197, 203, 212);
  opacity: 0.325;
  width: 30rem;
  padding-left: 4rem;
  background-image: url("../img/search.png");
  background-size: 2rem;
  background-position: 1rem center;
  background-repeat: no-repeat;
}
nav input[type=text]::placeholder {
  color: #000;
  opacity: 1;
}
nav input[type=text]:focus {
  opacity: 1;
  border: 2px solid #222;
}
nav input[type=text]:focus::placeholder {
  color: transparent;
}
@media (max-width: 775px) {
  nav input[type=text], nav input[type=text]:focus {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: calc(4.5rem - 1px);
    width: calc(100% - 3rem);
    cursor: text;
  }
  nav input[type=text] {
    width: calc(4.5rem - 1px);
    padding: 0;
    border-color: transparent;
    background-size: 2.5rem;
    cursor: pointer;
  }
  nav input[type=text]:hover {
    opacity: 1;
  }
  nav input[type=text]::placeholder {
    color: transparent;
  }
}
nav .logo {
  height: 100%;
  font-size: 2.5rem;
  line-height: calc(4.5rem - 3.5px);
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-family: "Mosk";
  font-weight: 900;
  box-sizing: border-box;
  padding: 0 1.25rem;
  display: block;
  float: left;
  border: 2px solid #222;
}
