<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/nav.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.stylesheet }}.css">

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.png">
</head>
<body>
  {% include nav.html %}

  <div class="site_container">
    {{ page.content }}
  </div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
